@model CarServiceModel
@inject IAgentService agentService
@inject ICarService carService

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="House Image">
        <div class="card-body text-center">
            <h4>@Model.Year</h4>
            <h6>Make: <b>@Model.Make</b></h6>
            <h6>Model: <b>@Model.Model</b></h6>
            <h6>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <h6>(@(Model.IsBuyed ? "Buyed" : "Available"))</h6>
            <br />
            <a asp-controller="Car" asp-action="Details" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                if (await carService.HasAgentWithIdAsync(Model.Id,User.Id()))
                {
                    <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>
                <a asp-controller="Car" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
                }
                <p></p>
                @if (!Model.IsBuyed && (await agentService.ExistByIdAsync(User.Id())) == false)
                {
                    <form class="input-group-sm" asp-controller="Car"
                  asp-action="Buy" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Buy" />
                    </form>
                }
                else if(await carService.IsBuyedByUserWithIdAsync(Model.Id,User.Id()))
                {
                    <form asp-controller="Car" asp-action="Sell"
                  asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Sell" />
                    </form>
                }
            }
        </div>
    </div>
</div>
