@model LeasingServiceModel
@inject ILeasingService leasingService

@{
    ViewBag.Title = "Leasing Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>The money per month: <b>@Model.AmountPerMonth</b></p>
            <p>Months: @Model.Months</p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (await leasingService.HasAgentWithIdAsync(Model.Id,User.Id()))
                    {
                        <a class="btn btn-warning" asp-controller="Leasing" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Leasing" asp-action="Delete"
                   asp-route-id="@Model.Id">Delete</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
